@model Klmsncamp.Models.RequestIssue

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>RequestIssue</legend>

    <div class="display-label">RequestType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RequestType.Description)
    </div>

    <div class="display-label">DetailedDescription</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DetailedDescription)
    </div>

    <div class="display-label">Location</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location.Description)
    </div>

    <div class="display-label">Inventory</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Inventory.Description)
    </div>

    <div class="display-label">Workshop</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Workshop.Description)
    </div>

    <div class="display-label">RequestState</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RequestState.Description)
    </div>

    <div class="display-label">Note</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Note)
    </div>

    <div class="display-label">StartDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">EndDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">UserReq</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserReq.UserName)
    </div>

    <div class="display-label">IsApproved</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsApproved)
    </div>

    <div class="display-label">SendEmail</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SendEmail)
    </div>

    <div class="display-label">IsAllDay</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsAllDay)
    </div>

    <div class="display-label">TimeStamp</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeStamp)
    </div>

    <div class="display-label">User</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.UserName)
    </div>

    <div class="display-label">ValidationState</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValidationState.Description)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
