@model Klmsncamp.Models.Inventory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Inventory</legend>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">SerialNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SerialNumber)
    </div>

    <div class="display-label">Location</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location.Description)
    </div>

    <div class="display-label">CorporateAccount</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CorporateAccount.Title)
    </div>

    <div class="display-label">BrandModel</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BrandModel)
    </div>

    <div class="display-label">InventoryStockNo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InventoryStockNo)
    </div>

    <div class="display-label">ValidationState</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValidationState.Description)
    </div>

    <div class="display-label">Notes</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Notes)
    </div>

    <div class="display-label">InvetoryOwnership</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InvetoryOwnership.Description)
    </div>

    <div class="display-label">StockBarcode</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StockBarcode)
    </div>

    <div class="display-label">CorporateAccountService</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CorporateAccountService.Title)
    </div>

    <div class="display-label">WarrantyEnd</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WarrantyEnd)
    </div>

    <div class="display-label">PurchaseDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PurchaseDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.InventoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
