@model Klmsncamp.Models.SurveyTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SurveyTable</legend>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">SurveyTemplate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SurveyTemplate.Description)
    </div>

    <div class="display-label">RequestIssue</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RequestIssue.DetailedDescription)
    </div>

    <div class="display-label">HashKey</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HashKey)
    </div>

    <div class="display-label">TimeStamp</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeStamp)
    </div>

    <div class="display-label">mTimeStamp</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mTimeStamp)
    </div>

    <div class="display-label">IsApproved</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsApproved)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SurveyTableID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
