@{
    ViewBag.Title = "Index";
}
<link href="../../Content/Pusher/pusher-chat-widget.css" rel="stylesheet" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="http://js.pusher.com/2.0/pusher.min.js"></script>

      <div class="pusher-chat-widget" id="@ViewBag.MemberID" style="display: none;">
          <div class="pusher-chat-widget-header"><label for="nickname">@ViewBag.ChannelName</label>
              <div class="dvCloseIco" onclick="PrivateChatKapat('@ViewBag.MemberID');"></div>

          </div>
          <div class="pusher-chat-widget-messages"><ul id="LiveActivity-@ViewBag.ChannelName" class="activity-stream"></ul></div>
         
           <div class="pusher-chat-widget-input">
              <textarea id="privateChatMessage-@ViewBag.ChannelName" name="message"></textarea>
             <input id="privateChatSubmitMessage-@ViewBag.ChannelName" class="pusher-chat-widget-send-btn" type="submit" value="Gönder"/>

          </div>

      </div>
    
<script type="text/javascript">

        $(function () {

           
            var pusher = new window.Pusher('0b7eeff567653e170094');
            var socketId = pusher.connection.socket_id;
            var myChannel = '@ViewBag.ChannelName';
        
            var channel = pusher.subscribe('@ViewBag.ChannelName');

            channel.bind('message_received', function (data) {

                if (data.message != null) {
                    var _me = '@ViewBag.Me';

                    $('#@ViewBag.MemberID').fadeIn(100);
                    
                    if (data.user == _me) {
                        $('#LiveActivity-@ViewBag.ChannelName').append('<li><b>me:</b>' + ' ' + data.message + '</li>');
                    }
                    else {
                        $('#LiveActivity-@ViewBag.ChannelName').append('<li><b>' + data.user + ':</b>' + ' ' + data.message + '</li>');
                    }
                }
            });
            channel.bind('pusher:subscription_succeeded', function (members) {
                
            });

            channel.bind('pusher:subscription_error', function (status) {
                alert("hata");
                //if (status == 408 || status == 503) {
                //    // retry?
                //}
            });

            $('#privateChatSubmitMessage-@ViewBag.ChannelName').bind('click', function () {
                $.post("/Chat/PrivateMessage", { chatMessage: $('#privateChatMessage-@ViewBag.ChannelName').val(), username: '@ViewBag.Me', channelName: '@ViewBag.ChannelName' });
            });

         
        });

        function sendMsg() {

            $.post("/Chat/PrivateMessage", { chatMessage: $('#privateChatMessage-@ViewBag.ChannelName').val(), username: '@ViewBag.Me', channelName: '@ViewBag.ChannelName' });

        }
   
       
</script>
