@using Telerik.Web.Mvc.UI
@model IEnumerable<Klmsncamp.Models.RequestIssue>
@{
    ViewBag.Title = "İş Arama";
}
@section script
{
    <script src="@Url.Content("~/Scripts/jquery.tooltip.js")" type="text/javascript"></script>
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $("tbody tr").each(function () {

                var sTitle;
                var nTds = $("td", this);
                var sAck = $(nTds[10]).text();
                sTitle = sAck
                this.setAttribute('title', sTitle);

                if (sTitle.replace(" ", "") == "Tamamlananlar") {
                    this.setAttribute('title', 'Veri Süz');
                }
                else {
                    this.setAttribute('title', sTitle);
                }
            });

            /* Apply the tooltips */
            //var url = $(this).attr('href');

            $("tbody tr[title]").tooltip({
                "delay": 0,
                "track": true,
                "fade": 250
            });
        });

    </script>
    <style type="text/css">
        .t-grid .t-grid-header .t-header .t-link
        {
            height: auto;
        }

        .t-grid .t-grid-header .t-header, .t-grid .t-grid-header .t-last-header
        {
            white-space: normal;
        }

        #tooltip
        {
            position: absolute;
            display: none;
            border: 1px solid #333;
            background: #BDCDFF;
            padding: 5px 20px;
            color: #333;
            font-size: 10px;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
        }
    </style>
}
<br />
<div align="center" style="width: 1410px; margin-left: auto; margin-right: auto;
    margin-top: 30px;">
    <fieldset style="background-color: rgb(241, 245, 251); border-color: rgb(174, 197, 209);" class="module aligned ">
    <table>
    <tbody>
    @using (Html.BeginForm("Search", "RequestIssue", FormMethod.Post))
    {
        <tr>
            <td>İş Sahibi&nbsp;:&nbsp;@Html.DropDownList("UserID",String.Empty)&nbsp;
                Tarih&nbsp;:&nbsp;@Html.Telerik().DatePicker().Name("TargetDate").Value(DateTime.Now)&nbsp;
                Arama Kriteri&nbsp;:&nbsp;@Html.TextBox("SearchString",(string)@ViewBag.FilterString,new {size=50})&nbsp;
                [ Tüm alanlarda Ara&nbsp;@Html.CheckBox("AllFieldCheck", false, new { disabled = "disabled" }) ]&nbsp;
                <input type="submit" value=" Aramayı Başlat " onclick="this.disabled=true;this.value='Calisiyor..';this.form.submit();" name="SearchButton" /></td>
        </tr>
    }
    </tbody>
    </table>
    </fieldset>
    @(Html.Telerik().Grid(Model).Name("Inventory").HtmlAttributes(new { style = "width: 1400px; margin-left: auto; margin-right: auto;" })
                            .Columns(columns =>
                            {
                                @columns.Template(
                                    @<text>
                                    @Html.ActionLink("Düzenle", "Edit", "RequestIssue", new { id = @item.RequestIssueID, show = @ViewBag.CurrentShow, page = @ViewBag.CurrentPage }, null)&nbsp;|&nbsp;
                                    @Html.ActionLink("Sil", "Delete", "RequestIssue", new { id = @item.RequestIssueID, show = @ViewBag.CurrentShow, page = @ViewBag.CurrentPage }, null)
                                    </text>
                                ).Width(100);
                                columns.Bound(o => o.Workshop.Description).Width(120).Title("İşl. Birim");
                                columns.Bound(o => o.StartDate).Width(120).Title("Baş.Tarihi").Format("{0:d}");
                                columns.Bound(o => o.UserReq.FullName).Width(120).Title("Kaydı Açan");
                                columns.Bound(o => o.Location.CapitalizedDescription).Width(120).Title("Departman");
                                columns.Bound(o => o.Personnel.FullName).Width(140).Title("İş İsteyen");
                                columns.Bound(o => o.RequestState.CapitalizedDescription).Width(120).Title("Durumu");
                                columns.Bound(o => o.CapitalizedNote).Width(320).Title("Sonuç Notu").Filterable(false).Groupable(false).Sortable(false);
                                columns.Bound(o => o.User.FullName).Width(140).Title("İlgili Kullanıcı");
                                @columns.Template(
                                        @<text>
                                        @if (item.IsApproved == false || item.IsApproved == null)
                                        {
                                            <img alt="onaysiz" src="@Url.Content("~/Content/images/delete.png")" />
                                        }
                                        else if (item.IsApproved && item.RequestStateID == ViewBag.CompletedStateID)
                                        {
                                            <img alt="onayli" src="@Url.Content("~/Content/images/checked.gif")" />
                                        }
                                        else if (item.IsApproved && item.RequestStateID == ViewBag.InCompletedStateID)
                                        {
                                            <img alt="olumsuz" src="@Url.Content("~/Content/images/exclamation.gif")" />
                                        }
                                        </text>
                                    ).Title("Durum");
                                columns.Bound(o => o.DetailedDescription).Hidden();
                                //columns.Bound(o => o.IsApproved).Hidden();
                                //columns.Bound(o => o.ValidationStateID).Hidden();

                            }
                            )
                            .RowAction(row =>
                            {
                                if (row.DataItem.IsApproved == true && row.DataItem.RequestStateID == ViewBag.CompletedStateID)
                                {
                                    row.HtmlAttributes["style"] = "background: #99FF99;";
                                }
                                else if (row.DataItem.IsApproved == true && row.DataItem.RequestStateID == ViewBag.InCompletedStateID)
                                {
                                    row.HtmlAttributes["style"] = "background: #FFCCCC;";
                                }
                                else if (row.DataItem.ValidationStateID == 2)
                                {
                                    row.HtmlAttributes["style"] = "background: #FFFF00;";
                                }

                            })
                            .Scrollable(scrolling => scrolling.Enabled(true).Height(500))
                            .Sortable(sorting => sorting.Enabled(true))
                            .Filterable(filtering => filtering.Enabled(true))
                            .Pageable(paging => paging.Enabled(true).PageSize(20))
                            .Groupable(grouping => grouping.Enabled(true))
                            .Resizable(resizing => resizing.Columns(true))
                            .Footer(true)
                            .Localizable("tr-TR")
                            )
</div>

