@using Telerik.Web.Mvc.UI
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/form.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/base.css")" /> 
     <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/klimasannavmenu.css")" /> 
    @Html.Telerik().ScriptRegistrar()
    @Html.Telerik().StyleSheetRegistrar().DefaultGroup(group=> group.Add("telerik.common.css").Add("telerik.default.css").Add("telerik.office2010blue.css").Add("telerik.windows7.css"))

    @RenderSection("script",false)
    <script type="text/javascript">        function gettext(txt) { return txt }</script>

</head>
<body>
<div id="userx" align="right" style="font-size: 12px; margin-top:5px; margin-bottom:3px;">
        @Html.Partial("_LogOnPartial")
</div>
<hr />
<div class="menu_example">
    <ul class="admx menu">
        <li><a href="/">KlmsnCamp</a></li>
        <li><a href="/" title="Ana Sayfa">Ana Sayfa</a></li>
        <li><a href="#" title="İş İstek">İş İstek</a>
	        <ul>
	        <li><a href="/RequestIssue/Create">Arıza Bildir</a></li>
	        <li><a href="/RequestIssue">İş Listesi</a></li>
	        </ul>
        </li>
    <li><a href="#" title="Raporlama">Raporlama</a>
	    <ul>
	    <li><a href="/">İşler</a></li>
	    <li><a href="/">Cihazlar/Demirbaşlar</a></li>
	    </ul>
    </li>
    <li><a href="/">Sabitler Tanımlamalar</a>
        <ul>
	    <li><a href="/ValidationState">Geçerlilik Durumlar</a></li>
	    <li><a href="/Workshop">Atolyeler</a></li>
        <li><a href="/Location">Departman Tanımları</a></li>
        <li><a href="/RequestState">İş/İstek Durumları</a></li>
        <li><a href="/RequestType">İş/İstek Tipleri</a></li>
        <li><a href="/InventoryOwnership">Aidiyet Bilgileri</a></li>
        <li><a href="/Inventory">Cihaz Bilgileri</a></li>
        <li><a href="/CorporateType">Cari Kart Tipleri</a></li>
        <li><a href="/CorporateAccount">Cari Kart Bilgileri</a></li>
	    </ul>
    </li>
    <li><a href="/">Hakkında</a></li>
    </ul>
</div>	

        
            @RenderBody()


</body>
</html>
