@using Telerik.Web.Mvc.UI
@{ Html.Telerik().ScriptRegistrar().Globalization(true); }
@model Klmsncamp.Models.Payment
@{
    ViewBag.Title = "Ödeme Düzenleme";
}
@section script
 {
    <script type="text/javascript" language="javascript">
        fields = 0;
        function addInput() {
            if (fields != 5) {
                document.getElementById('add-file-field').innerHTML += "<input id='files-to-upload' type='file' name='file' /><br />";
                document.getElementById('gonder').disabled = false;
                fields += 1;
            } else {
                document.getElementById('add-file-field').innerHTML += "<br />Bir Seferde En çok 5 Dosya Eklenebilir";
                document.getElementById('addfile').disabled = true;
            }
        }
    </script>
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div align="center" style="width: 640px; margin-left: auto; margin-right: auto; margin-top: 30px;">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <fieldset class="module aligned ">
            <table style="width: 100%; margin-top: 15px;">
                <tbody>
                    <thead>
                        <th colspan="2">
                            Fatura / Ödeme Kaydı Düzenleme
                        </th>
                    </thead>
                    @Html.HiddenFor(model => model.PaymentID)
                    <tr>
                        <td style="vertical-align: middle; text-align: right;">
                            @Html.LabelFor(model => model.BudgetNum)
                        </td>
                        <td style="vertical-align: middle; text-align: left;">
                            @Html.EditorFor(model => model.BudgetNum)
                            @Html.ValidationMessageFor(model => model.BudgetNum)
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle; text-align: right;">
                            @Html.LabelFor(model => model.PurchaseNum, "Satın Alma No")
                        </td>
                        <td style="vertical-align: middle; text-align: left;">
                            @Html.EditorFor(model => model.PurchaseNum)
                            @Html.ValidationMessageFor(model => model.PurchaseNum)
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle; text-align: right;">
                            @Html.LabelFor(model => model.CorporateAccountID, "Firma")
                        </td>
                        <td style="vertical-align: middle; text-align: left;">
                            @Html.DropDownList("CorporateAccountID", String.Empty)
                            @Html.ValidationMessageFor(model => model.CorporateAccountID)
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle; text-align: right;">
                            @Html.LabelFor(model => model.InvoiceDate)
                        </td>
                        <td style="vertical-align: middle; text-align: left;">
                            @Html.Telerik().DatePickerFor(model => model.InvoiceDate).Name("InvoiceDate")
                            @Html.ValidationMessageFor(model => model.InvoiceDate)
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle; text-align: right;">
                            @Html.LabelFor(model => model.InvoiceNum)
                        </td>
                        <td style="vertical-align: middle; text-align: left;">
                            @Html.EditorFor(model => model.InvoiceNum)
                            @Html.ValidationMessageFor(model => model.InvoiceNum)
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle; text-align: right;">
                            @Html.LabelFor(model => model.InvoiceTotal)
                        </td>
                        <td style="vertical-align: middle; text-align: left;">
                            @Html.Telerik().CurrencyTextBoxFor(model => model.InvoiceTotal).Name("InvoiceTotal")
                            @Html.ValidationMessageFor(model => model.InvoiceTotal)
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle; text-align: right;">
                            @Html.LabelFor(model => model.PaymentDate)
                        </td>
                        <td style="vertical-align: middle; text-align: left;">
                            @Html.Telerik().DatePickerFor(model => model.PaymentDate).Name("PaymentDate")
                            @Html.ValidationMessageFor(model => model.PaymentDate)
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle; text-align: right;">
                            @Html.LabelFor(model => model.Description)
                        </td>
                        <td style="vertical-align: middle; text-align: left;">
                            @Html.TextAreaFor(model => model.Description, new { cols = "50", size = "3" })
                            @Html.ValidationMessageFor(model => model.Description)
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle; text-align: right;">
                            @Html.LabelFor(model => model.RequestIssueID, "İş İsteği")
                        </td>
                        <td style="vertical-align: middle; text-align: left;">
                            @Html.DropDownList("RequestIssueID", String.Empty)
                            @Html.ValidationMessageFor(model => model.RequestIssueID)
                        </td>
                    </tr>
                    @{
        var counter = 0;
                    }
                    @foreach (var file in Model.PaymentFiles)
                    {
                        counter++;
                        <tr>
                            <td style="vertical-align: middle; text-align: right;">
                                @Html.ActionLink("Sil","FileDelete",new { id= file.PaymentFileID.ToString()})&nbsp;|&nbsp;Bağlı
                                Dosya No# @counter
                               
                            </td>
                            <td style="vertical-align: middle; text-align: left;">
                                @Html.ActionLink(file.PaymentFileName,"Download",new { id= file.PaymentFileID.ToString()})&nbsp;(@asMb(file.PaymentFileSize)
                                &nbsp;Kb)
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </fieldset>
        <div class="submit-row">
            <p class="deletelink-box">
                @Html.ActionLink("Vazgeç ve Geri Dön", "Index")</p>
            <input type="submit" class="default" value="Kaydet" />
        </div>
    }
    <fieldset class="module aligned">
        <table>
            <tbody>
                <tr>
                    <td colspan="2">
                        <input type="button" onclick="javascript: addInput();" id="addfile" value="Dosya Ekle" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @using (Html.BeginForm("UploadFileOnly", "Payment",
                                FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <input id="gonder" type='submit' value='Gönder' disabled="disabled" />
                            @Html.HiddenFor(model => model.PaymentID)
                            <div id="add-file-field">
                            </div>

                        }
                        <div class='progress-bar'>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</div>
@functions{
    public string asMb(float number)
    {
        float number_ = number / (1024*1024);
        return Math.Round(number_, 3).ToString();
    }
}