@model Klmsncamp.Models.Inventory

@{
    ViewBag.Title = "Cihaz Bilgilerini Silme";
}
<div align="center" style="width: 650px; margin-left: auto; margin-right: auto; margin-top:30px; border: 1px solid #eee;">
    <table style="width: 100%;">
    <tbody>
    <thead>
    <th colspan="2">Aşağıdaki Cihaz/Envanter kaydını silmek istediğinize emin misiniz?</th>
    </thead>
    <tr>   
     <td style="vertical-align:middle; text-align: right;">

    <div class="display-label">Açıklama :</div></td>
    
        <td style="text-align: left;">@Html.DisplayFor(model => model.Description)
     
    </td>
    </tr>
    <tr> 
    <td style="vertical-align:middle; text-align: right;">
    <div class="display-label">Seri No :</div></td>
    
        <td style="text-align: left;">@Html.DisplayFor(model => model.SerialNumber)
     
    </td>
    </tr>
    <tr> 
    <td style="vertical-align:middle; text-align: right;">
    <div class="display-label">Barkod :</div></td>
    
        <td style="text-align: left;">@Html.DisplayFor(model => model.StockBarcode)
    
    </td>
    </tr>
    <tr> 
    <td style="vertical-align:middle; text-align: right;">
    <div class="display-label">Bulunduğu Birim :</div></td>
    
        <td style="text-align: left;">@Html.DisplayFor(model => model.Location.Description)
     
    </td>
    </tr>
    <tr> 
    <td style="vertical-align:middle; text-align: right;">
    <div class="display-label">Markası :</div></td>
    
        <td style="text-align: left;">@Html.DisplayFor(model => model.CorporateAccount.Title)
     
    </td>
    </tr>
    <tr> 
    <td style="vertical-align:middle; text-align: right;">
    <div class="display-label">Model :</div></td>
    
        <td style="text-align: left;">@Html.DisplayFor(model => model.BrandModel)
     
    </td>
    </tr>
    <tr> 
    <td style="vertical-align:middle; text-align: right;">
    <div class="display-label">Demirbaş No :</div></td>
    
        <td style="text-align: left;">@Html.DisplayFor(model => model.InventoryStockNo)
     
    </td>
    </tr>
    <tr> 
    <td style="vertical-align:middle; text-align: right;">
    <div class="display-label">Ek Not :</div></td>
    
        <td style="text-align: left;">@Html.DisplayFor(model => model.Notes)
    
    </td>
    </tr>
    <tr> 
    <td style="vertical-align:middle; text-align: right;">
    <div class="display-label">Aidiyet Bilgileri :</div></td>
    
        <td style="text-align: left;">@Html.DisplayFor(model => model.InvetoryOwnership.Description)
    
    </td>
    </tr>
    <tr> 
     <td style="vertical-align:middle; text-align: right;">
    <div class="display-label">Garanti Bitiş Tarihi :</div></td>
    
        <td style="text-align: left;">@Html.DisplayFor(model => model.WarrantyEnd)
     
    </td>
    </tr>
    <tr> 
    <td style="vertical-align:middle; text-align: right;">
    <div class="display-label">Yetkili Servisi :</div></td>
    
        <td style="text-align: left;">@Html.DisplayFor(model => model.CorporateAccountService.Title)
     
    </td>
    </tr>
    <tr> 
    <td style="vertical-align:middle; text-align: right;">
    <div class="display-label">Satın Alma Tarihi :</div></td>
    
        <td style="text-align: left;">@Html.DisplayFor(model => model.PurchaseDate)
    
    </td>
    </tr>
    <tr> 
    <td style="vertical-align:middle; text-align: right;">
    <div class="display-label">Durum :</div>
    </td>
    
     <td style="text-align: left;">
     @Html.DisplayFor(model => model.ValidationState.Description)
    </td>
    </tr>
    </tbody>
    </table>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Sil" /> |
        @Html.ActionLink("Vazgeç ve Geri Dön", "Index")
    </p>
}
</div>