@using Telerik.Web.Mvc.UI
@model IEnumerable<Klmsncamp.Models.Inventory>
@{
    ViewBag.Title = "Envanterler Listesi";
}
<br />
<div align="center" style="width: 750px; margin-left: auto; margin-right: auto; margin-top: 30px;">
    @(Html.Telerik().Grid(Model).Name("Inventory")
                            .Columns(columns =>
                                {
                                    @columns.Template(@<text>
    @Html.ActionLink("Düzenle", "Edit", "Inventory", new { id = @item.InventoryID }, null)&nbsp;|&nbsp;
    @Html.ActionLink("Sil", "Delete", "Inventory", new { id = @item.InventoryID }, null)
    </text>).Width(150);
                                    columns.Bound(o => o.Description).Width(150).Groupable(false);
                                    columns.Bound(o => o.SerialNumber).Width(150).Groupable(false);
                                    columns.Bound(o => o.Location.Description).Width(150).Title("Bulunduğu Birim");
                                    columns.Bound(o => o.CorporateAccount.Title).Width(150).Title("Markası");
                                    columns.Bound(o => o.BrandModel).Width(150).Title("Modeli");
                                    columns.Bound(o => o.InvetoryOwnership.Description).Width(150).Title("Aidiyeti");
                                    columns.Bound(o => o.ValidationStateID).Hidden();

                                }
                            )
                            .RowAction(row =>
                            {
                                if (row.DataItem.ValidationStateID == 2)
                                {
                                    row.HtmlAttributes["style"] = "background:pink;";
                                }
                            })
                            .Scrollable(scrolling => scrolling.Enabled(true).Height(500))
                            .Sortable(sorting => sorting.Enabled(true))
                            .Filterable(filtering => filtering.Enabled(true))
                            .Groupable(grouping => grouping.Enabled(true))
                            .Resizable(resizing => resizing.Columns(true))
                            .Footer(true)
                            .Localizable("tr-TR")
                            )
    <div class="submit-row">
        <p class="deletelink-box">@Html.ActionLink("Yeni Cihaz / Envanter Tanımlama", "Create")</p>
    </div>
</div>
<!--
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorporateAccount.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrandModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InventoryStockNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValidationState.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvetoryOwnership.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockBarcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorporateAccountService.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WarrantyEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.InventoryID }) |
            @Html.ActionLink("Details", "Details", new { id = item.InventoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.InventoryID })
        </td>
    </tr>
}

</table>
-->