@using Telerik.Web.Mvc.UI
@model IEnumerable<Klmsncamp.Models.CorporateAccount>
@{
    ViewBag.Title = "Cari Hesap Bilgileri";
}
<br />
<div align="center" style="width: 750px; margin-left: auto; margin-right: auto; margin-top: 30px;">
    @(Html.Telerik().Grid(Model).Name("CorporateAccount")
                .Columns(columns =>
                                {
                                    @columns.Template(@<text>
    @Html.ActionLink("Düzenle", "Edit", "CorporateAccount", new { id = @item.CorporateAccountID }, null)&nbsp;|&nbsp;
    @Html.ActionLink("Sil", "Delete", "CorporateAccount", new { id = @item.CorporateAccountID }, null)
    </text>).Width(150);
                                    columns.Bound(o => o.Title).Width(150).Groupable(false);
                                    columns.Bound(o => o.Phone1).Width(150).Groupable(false);
                                    columns.Bound(o => o.ContactPerson).Width(150).Title("İlgili Kişi");
                                    columns.Bound(o => o.CorpEmail).Width(150).Title("E-mail");
                                    columns.Bound(o => o.CorporateType.Description).Width(150).Title("Cari Tip Bilgisi");
                                    columns.Bound(o => o.User.UserName).Width(150).Title("Kullanıcı?");
                                    columns.Bound(o => o.ValidationStateID).Hidden();

                                })
                                .RowAction(row =>
                                {
                                    if (row.DataItem.ValidationStateID == 2)
                                    {
                                        row.HtmlAttributes["style"] = "background:pink;";
                                    }
                                })
                                .Scrollable(scrolling => scrolling.Enabled(true).Height(500))
                                .Sortable(sorting => sorting.Enabled(true))
                                .Filterable(filtering => filtering.Enabled(true))
                                .Groupable(grouping => grouping.Enabled(true))
                                .Resizable(resizing => resizing.Columns(true))
                                .Footer(true)
                                .Localizable("tr-TR")
                                )
    <div class="submit-row">
        <p class="deletelink-box">@Html.ActionLink("Yeni Cari Kart Bilgisi Tanımlama", "Create")</p>
    </div>
</div>