@model Klmsncamp.Models.Payment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Payment</legend>

    <div class="display-label">BudgetNum</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BudgetNum)
    </div>

    <div class="display-label">PurchaseNum</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PurchaseNum)
    </div>

    <div class="display-label">CorporateAccount</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CorporateAccount.Title)
    </div>

    <div class="display-label">InvoiceDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InvoiceDate)
    </div>

    <div class="display-label">InvoiceNum</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InvoiceNum)
    </div>

    <div class="display-label">InvoiceTotal</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InvoiceTotal)
    </div>

    <div class="display-label">PaymentDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PaymentDate)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">RequestIssue</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RequestIssue.DetailedDescription)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PaymentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
