@using Telerik.Web.Mvc.UI
@model Klmsncamp.Models.User
@{
    ViewBag.Title = "Profil Düzenleme";
}
<div align="center" style="width: 840px; margin-left: auto; margin-right: auto; margin-top: 30px;">
<fieldset style="width: 820px;" class="module aligned ">
<legend>Profil</legend>
<br />
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.UserName)
    @Html.HiddenFor(model => model.Password)
    @Html.HiddenFor(model => model.PasswordSalt)
    @Html.HiddenFor(model => model.CreatedDate)
    @Html.HiddenFor(model => model.LastLoginDate)
    @Html.HiddenFor(model => model.LastLockedOutDate)
    @Html.ValidationSummary(true)
    <table style="width: 100%; margin-top: 15px;">
    <tbody>
    <thead><th colspan="2"><p style="margin-top: 5px; padding-top: 5px;"><u style="color: Maroon;">@Model.UserName</u>&nbsp;Kullanıcı Bilgileri Düzenle</p></th></thead>
    <tr>
    <td style="border-left: 1px solid rgb(238, 238, 238); width: 30%; vertical-align: middle; text-align: right; font-weight: bold;">
    @Html.LabelFor(model => model.FirstName, "Ad")&nbsp;-&nbsp;@Html.LabelFor(model => model.LastName, "Soyad")
    </td>
    <td style="vertical-align: middle; text-align: left; font-weight: bold;">
    @Html.EditorFor(model => model.FirstName)&nbsp;@Html.EditorFor(model => model.LastName)
     @Html.ValidationMessageFor(model => model.FirstName)
     @Html.ValidationMessageFor(model => model.LastName)
    </td>
    </tr>
    <tr>
    <td style="border-left: 1px solid rgb(238, 238, 238); width: 30%; vertical-align: middle; text-align: right; font-weight: bold;">
     @Html.LabelFor(model => model.Email)
    </td>
    <td style="vertical-align: middle; text-align: left; font-weight: bold;">
    
        @Html.EditorFor(model => model.Email)&nbsp;  @if (Model.UserName.ToString().Equals(@User.Identity.Name.ToString()))
                                                     { @Html.ActionLink("Şifre Değiştir", "ChangePassword", "Account") <br />
        @Html.ValidationMessageFor(model => model.Email)
                                                     }
       
    </td>
    </tr>
    @if (User.IsInRole("administrators"))
    {
    <tr>
    <td style="border-left: 1px solid rgb(238, 238, 238); width: 30%; vertical-align: top; text-align: right; font-weight: bold;">Kullanıcının Rollerini Seçiniz</td>
    <td style="vertical-align: top; text-align: left; font-weight: bold;">@Html.ListBox("RoleID", null, new { style = "width: 250px;" })</td>
    </tr>
    <!--
    <tr>
    <td style="border-left: 1px solid rgb(238, 238, 238); vertical-align: top; text-align: right; font-weight: bold;">Yetkili Olduğu Ana birimleri Belirtiniz</td>
    
    <td style="vertical-align: top; text-align: left; font-weight: bold;">@Html.ListBox("WorkshopMultiSelectID", null, new { style = "width: 250px;" })</td>
    </tr>
    -->
     
    <tr>
    <td style="border-left: 1px solid rgb(238, 238, 238); vertical-align: top; text-align: right; font-weight: bold;">Yetki Gruplarını Belirtiniz (Yetki Grubunun bağlı olduğu ana birim ve özel izinler, Kullanıcı izinlerine dahil edilir)</td>
    
    <td style="vertical-align: top; text-align: left; font-weight: bold;">@Html.ListBox("UserGroupID", null, new { style = "width: 250px;" })</td>
    </tr>
    <tr>
    <td style="border-left: 1px solid rgb(238, 238, 238); vertical-align: top; text-align: right; font-weight: bold;">Özel izinleri seçiniz</td>
    
    <td style="vertical-align: top; text-align: left; font-weight: bold;">@Html.ListBox("CustomPermissionID", null, new { style = "width: 250px;" })</td>
    </tr> 
    }           
    </tbody>
    </table>
 
    <div class="submit-row">
    <input type="submit" name="kaydet" class="default" onclick="this.disabled=true;this.value='Lütfen Bekleyiniz..Calisiyor..';this.form.submit();" value="Kaydet" />
    </div>
}
    <br />

@if (User.IsInRole("administrators") || User.IsInRole("moderators"))
{  
    <!-- yeni yetkiler-->
    <table style="width: 100%; margin-top: 15px;">
    <tbody>
    <thead><th colspan="8"><p style="margin-top: 5px; padding-top: 5px;"><u style="color: Maroon;">@Model.UserName</u>&nbsp;Anabirim Yetkilerini Düzenle</p></th></thead>
    <tr>
    <td colspan="2" style="border-top: 1px solid rgb(238, 238, 238); border-left: 1px solid rgb(238, 238, 238); vertical-align: top; text-align: left; font-weight: bold;">
    </td>
    <td style="border-top: 1px solid rgb(238, 238, 238);">
    Görüntüle
    </td>
    <td style="border-top: 1px solid rgb(238, 238, 238);">
    Kayıt Ekle
    </td>
    <td style="border-top: 1px solid rgb(238, 238, 238);">
    Güncelle
    </td>
    <td style="border-top: 1px solid rgb(238, 238, 238);">
    Onayla/Kapat
    </td>
    <td style="border-top: 1px solid rgb(238, 238, 238);">
     Sil
    </td>
    <td style="border-top: 1px solid rgb(238, 238, 238);">
    </td>
    </tr>
    @using (Html.BeginForm("Create", "WorkshopPermission", new { userID = Model.UserId, RedirectRoute = "Profil" }, FormMethod.Post, null))
    {
    <tr>
    <td colspan="2" style="border-left: 1px solid rgb(238, 238, 238); vertical-align: middle; text-align: right; font-weight: bold;">
      @Html.DropDownList("WorkshopID", "Ana Birim Belirtiniz    ")
    </td>
    <td>
    @Html.CheckBox("Select", false)
    </td>
    <td>
    @Html.CheckBox("Insert", false)
    </td>
    <td>
    @Html.CheckBox("Update", false)
    </td>
    <td>
    @Html.CheckBox("Approve", false)
    </td>
    <td>
    @Html.CheckBox("Delete", false)
    </td>
    <td>
    <input type="submit" name="Ekle" value="Ekle" />
    </td>
    </tr>
    
    
    }
    <tr>
    <td colspan="8" style="border-left: 1px solid rgb(238, 238, 238); vertical-align:  middle; color: Green; text-align: middle; font-weight: bold;">
        Kullanıcının Şu anki Ana Birim Yetkileri :
    </td>
    </tr>
    @if (ViewBag.ErrorMessage != null)
    {
    <tr>
    <td colspan="8" style="border-left: 1px solid rgb(238, 238, 238); vertical-align:  middle; color: Maroon; text-align:center; font-weight: bold;">
        Hata Oluştu &nbsp;:&nbsp;@ViewBag.ErrorMessage
    </td>
    </tr>
    
    }
    @foreach (var Wrp in ViewBag.TheWorkshopPermissions as IList<Klmsncamp.Models.WorkshopPermission>)
    {
    <tr>
    
     <td colspan="2" style="border-left: 1px solid rgb(238, 238, 238); vertical-align:  middle; text-align: right; font-weight: bold;">
           @Wrp.Workshop.Description
     </td>
     <td>
       @Html.CheckBox("Select", @Wrp.Select, new { disabled = "disabled" })
     </td>
     <td>
        @Html.CheckBox("Insert", @Wrp.Insert, new { disabled = "disabled" })
     </td>
     <td>
     @Html.CheckBox("Update", @Wrp.Update, new { disabled = "disabled" })
     </td>
     <td>
     @Html.CheckBox("Approve", @Wrp.Approve, new { disabled = "disabled" })
     </td>
     <td>
     @Html.CheckBox("Delete", @Wrp.Delete, new { disabled = "disabled" })
     </td>
     <td style="vertical-align: middle;">
         @Html.ActionLink("Kaldır", "Delete", "WorkshopPermission", new { id = @Wrp.WorkshopPermissionID, userID = @Model.UserId, RedirectRoute = "Profil" }, null)
     </td>
    
    
    </tr>
    }
    @if ((int)ViewBag.TheWorkshopPermissionsCount == 0)
    {
        <tr>
        <td colspan="8" style="border-left: 1px solid rgb(238, 238, 238); vertical-align:  middle; color: rgb(238, 238, 238); text-align: center; font-weight: bold;">
           Yetki Bulunamadı..
        </td>
        </tr>
    }
    </tbody>
    </table>
  
      <!-- yeni yetkiler bitis-->
}         
</fieldset>

<br />
<br />
@if (User.IsInRole("administrators") ||User.IsInRole("moderators"))
{ 
    <fieldset style="width: 820px;" class="module aligned ">
    <legend>Diğer Kullanıcılar :</legend>
    @using (Html.BeginForm("RedirectToEdit", "Account", FormMethod.Get))
    {
        <table>
        <tbody>
        <tr>
        <td style="vertical-align: middle;">
        
        @(Html.Telerik().ComboBox()
        .Name("UserID")
        .HtmlAttributes(new { id = "ComboBox_wrapper_user" })
        .AutoFill(true).HtmlAttributes(new { style = "width:210px;" }).DropDownHtmlAttributes(new { style = "width: 210px;" }).InputHtmlAttributes(new { style = "vertical-align: middle; font-size:100%; border: 1px solid rgb(238, 238, 238); width: 200px;" })
        .BindTo((SelectList)ViewBag.UserID)
        .Filterable(filtering => filtering.FilterMode((AutoCompleteFilterMode)Enum.Parse(typeof(AutoCompleteFilterMode), "2", false)))
        .HighlightFirstMatch(true)
        )
        <br />
        </td>
        <td style="vertical-align: middle;">
        <input type="submit" name="Düzenle" onclick="this.disabled=true;this.value='Lütfen Bekleyiniz..Calisiyor..';this.form.submit();" value="Kullanıcıyı Düzenle" />
        </td>
        </tr>
        </tbody>
        </table>
    }
        </fieldset>
}
</div>
