@model Klmsncamp.Models.LogOnModel

@{
    ViewBag.Title = "Kullanıcı Girişi";
}


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
 <div align="center" style="width:640px; margin-left: auto; margin-right: auto; margin-top:30px;">
@Html.ValidationSummary(true, "Kullanıcı adı veya şifre Hatası. Lütfen Tekrar Deneyin")

@using (Html.BeginForm())
{

        <fieldset class="module aligned">
        @if (User.IsInRole("moderators") || User.IsInRole("administrators"))
        {
            
            @:<p class="help">Yeni Kullanıcı Oluşturmak için <a href="/Account/Register/">Tıklayınız.</a></p>
        }
            <table>
            <tbody>
            <tr>
            <td style="vertical-align: middle; text-align: right;">
                <div class="editor-label">
                    @Html.LabelFor(m => m.UserName)
                </div>
            </td>
            <td style="vertical-align: middle; text-align: left;">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </td>
            </tr>
            <tr>
            <td style="vertical-align: middle; text-align: right;">
            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <td style="vertical-align: middle; text-align: left;">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </td>
            </tr>
            <tr>
            <td colspan="2" style="vertical-align: middle; text-align: center;">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </td>
            </tr>
            <tfoot>
            <tr>
            <td colspan="2">
            <input type="submit" value="Giriş" />
            </td>
            </tr></tfoot>
            </tbody>
            </table>
            </fieldset>
           
        
    
}
</div>
