@model Klmsncamp.Models.Material
@{
	ViewBag.Title = "Delete";
}
<div align="center" style="width: 640px; margin-left: auto; margin-right: auto; margin-top: 30px;">
	<h3>
		Silmek İstediğinize Emin Misiniz?
	</h3>
	<table style="border: 1px solid #EEEEEE">
		<tr>
			<td>
				<div class="display-label">
					Description</div>
			</td>
			<td>
				<div class="display-field">
					@Html.DisplayFor(model => model.Description)
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="display-label">
					MaterialCodeNum</div>
			</td>
			<td>
				<div class="display-field">
					@Html.DisplayFor(model => model.MaterialCodeNum)
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="display-label">
					Location</div>
				<td>
					<div class="display-field">
						@Html.DisplayFor(model => model.Location.Description)
					</div>
				</td>
			</td>
		</tr>
		<tr>
			<td>
				<div class="display-label">
					CorporateAccount</div>
			</td>
			<td>
				<div class="display-field">
					@Html.DisplayFor(model => model.CorporateAccount.Title)
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="display-label">
					ComponentModel</div>
			</td>
			<div class="display-field">
				@Html.DisplayFor(model => model.ComponentModel)
			</div>
			<td>
			</td>
		</tr>
		<tr>
			<td>
				<div class="display-label">
					ParentMaterial</div>
			</td>
			<td>
				<div class="display-field">
					@Html.DisplayFor(model => model.ParentMaterial.Description)
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="display-label">
					MaterialCategory</div>
			</td>
			<td>
				<div class="display-field">
					@Html.DisplayFor(model => model.MaterialCategory.Description)
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="display-label">
					MaterialGroup</div>
			</td>
			<td>
				<div class="display-field">
					@Html.DisplayFor(model => model.MaterialGroup.Description)
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="display-label">
					MaterialType</div>
			</td>
			<td>
				<div class="display-field">
					@Html.DisplayFor(model => model.MaterialType.Description)
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="display-label">
					RackLocation</div>
			</td>
			<td>
				<div class="display-field">
					@Html.DisplayFor(model => model.RackLocation)
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="display-label">
					ValidationState</div>
			</td>
			<td>
				<div class="display-field">
					@Html.DisplayFor(model => model.ValidationState.Description)
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="display-label">
					Note</div>
			</td>
			<td>
				<div class="display-field">
					@Html.DisplayFor(model => model.Note)
				</div>
			</td>
		</tr>
		<tfoot>
			<tr>
				<td colspan="2" style="text-align: right;">
					@using (Html.BeginForm())
	 {
						<p style="float: left; margin-top: 7px;">
							@Html.ActionLink("Back to List", "Index")
						</p>	
						<p>
							<input type="submit" value="Delete" />
						</p>
	 }
				</td>
			</tr>
		</tfoot>
	</table>
</div>
