@using Telerik.Web.Mvc.UI
@model IEnumerable<Klmsncamp.Models.Material>
@{
	ViewBag.Title = "Malzemeler";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#txtDegerArama").change(function () {
            var deger = $("#txtDegerArama").val();
            document.location = "/Material/Arama/?deger=" + deger + "&kategoriID=" + '@ViewBag.kategoriID';
        });

    });
						
    function treeView() {
        return $('#TreeView').data('tTreeView');
    }

    
    function SecileniGoster(e) {

        
        var secilenID = $(e.item).find("[name='itemValue']").serialize();
        //kategori = $('#TreeView').data('tTreeView').getItemText(e.item);
        //alert('kategori :' + kategori);
        //secilenID = treeView().getItemValue(e.item);
        //alert('id :' + secilenID);
        if (secilenID == 18 || secilenID == 19) {
            return;
        }
        //kategori = treeView().getItemValue(e.item);
        //alert(secilenID);
        document.location = "/Material/Index/?ID=" + secilenID;

    }
</script>
@{ Html.Telerik().TabStrip()
	.Name("TabStrip")
	.HtmlAttributes(new { style = "height: 100%" })
	.Effects(fx =>
	{
		fx.Toggle();
		fx.Opacity();
		fx.OpenDuration(200).CloseDuration(200);
	})
	.Items(tabstrip =>
	{
		tabstrip.Add()
		.Text("Tanımlamalar")
		.Content(@<text>
	<table>
		<tbody>
			<tr>
				<td>
					@*@{Html.RenderPartial("MaterialCategoryTreeListView", ViewBag.MaterialCategories as IEnumerable<Klmsncamp.Models.MaterialCategory>);}*@
                    <div style="margin: 30px 0 10px 10px; border: 1px solid olive;">
                        @(Html.Telerik().TreeView()
                        .Name("TreeView").ExpandAll(true).ShowLines(true).
                                Effects(fx => fx.Toggle().Opacity().OpenDuration(200).CloseDuration(300)).ClientEvents(events => events.OnSelect("SecileniGoster"))
                        .BindTo(  ViewBag.MaterialCategories as IEnumerable<Klmsncamp.Models.MaterialCategory>, mappings =>
                        {
                            mappings.For<Klmsncamp.Models.MaterialCategory>(binding => binding
                                    .ItemDataBound((l_item, materialcategory) =>
                                    {
                                        l_item.Text = materialcategory.Description;
                                        l_item.Value = materialcategory.MaterialCategoryID.ToString();
                                        //l_item.Value = materialcategory.ParentMaterialCategory.ToString();
                                    })
                                    .Children(materialcategory => materialcategory.MaterialCategoryChilds));
                        })

                        )
   
</div>

				</td>
				<td>
					<div style="float: left; margin: 10px;">
						<b>@Html.ActionLink("Yeni Ekle", "Create", "Material")</b></div>
					<div style="float: left; margin: 0px 5px 0px 540px;">
						@if (@Model.ToList().Count != 0)
	  {
		  if (@ViewBag.kategoriID == "1")
		  {
							<b>Genel Arama : @Html.TextBox("txtDegerArama")</b>
		  }
		  else
		  {
							<b>@Model.First().MaterialCategory.Description Arama: @Html.TextBox("txtDegerArama", "", new { style = "width:220px;" })</b>
		  }
	  }
					</div>
					<div style="margin: 30px 0 10px 10px;">
						@{
		  
							var pagerStyleFlags = new[] 
    { 
        new { Key = "pageInput", Value = GridPagerStyles.PageInput },
        new { Key = "nextPrevious", Value = GridPagerStyles.NextPrevious },
        new { Key = "numeric", Value = GridPagerStyles.Numeric },
        new { Key = "pageSize", Value = GridPagerStyles.PageSizeDropDown }
    };

							GridPagerStyles pagerStyles = GridPagerStyles.NextPreviousAndNumeric;

							foreach (var itemStyle in pagerStyleFlags)
							{
								pagerStyles |= itemStyle.Value;
							}

							Html.Telerik().Grid(Model)
								.Name("Material").TableHtmlAttributes(new { style = "text-align: left;" })
								.HtmlAttributes(new { style = "width: 1024px; margin-left: auto; margin-right: auto;" })
								.Columns(columns =>
								{
									@columns.Template(o => EditDelete(o)).Width(100);

									columns.Bound(o => o.MaterialCodeNum).Width(100).Title("Seri No");
									columns.Bound(o => o.Description).Width(100).Title("Değer");
									columns.Bound(o => o.RackLocation).Width(100).Title("Yer");
									columns.Bound(o => o.ComponentModel).Width(100).Title("Fiziksel Yapı");
									columns.Bound(o => o.MaterialCategory.Description).Width(100).Title("Kategori");
									columns.Bound(o => o.Note).Width(100).Title("Note");
									//columns.Bound(o => o.MaterialType.Description).Width(120).Title("Kategori");

								})
								.DetailView(detailView => detailView.Template(o => GridDetailTemplate(this, o)))
								//.DetailView(ChildsDetailView => ChildsDetailView.Template(o => ChildsDetailViewTemplate(this, o)))
								.Scrollable(scrolling => scrolling.Enabled(true).Height(500))
								.Sortable(sorting => sorting.Enabled(true).OrderBy(o => { o.Add("MaterialCodeNum").Ascending(); }))
								.Filterable(filtering => filtering.Enabled(true))
								.Groupable(grouping => grouping.Enabled(true))
								.Resizable(resizing => resizing.Columns(true))
								.Pageable(pagingg => pagingg.Style(pagerStyles))
								//.Pageable(paging => paging.PageSize(20).Style(GridPagerStyles.NextPreviousAndNumeric).Position(GridPagerPosition.Both))
								.Footer(true)
								.Localizable("tr-TR")
								.Render();
						}
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	</text>).Selected(true);

	})
	.Render();
}
@helper EditDelete(Klmsncamp.Models.Material material)
	{
@*<b>Grl</b>*@
	@Html.ActionLink("Düzenle", "Edit", "Material", new { id = material.MaterialID }, null)
	<b>&nbsp;|&nbsp;</b>
	@Html.ActionLink("Sil", "Delete", "Material", new { id = material.MaterialID }, null)
	
}
@helper DownloadDelete(Klmsncamp.Models.MaterialFile materialFile)
	{
	@Html.ActionLink("İndir", "DownloadMaterialFile", "Material", new { fileId = materialFile.MaterialFileID }, null)
	<b>&nbsp;|&nbsp;</b>
	@Html.ActionLink("Sil", "DeleteMaterialFileFromIndex", "Material", new { fileId = materialFile.MaterialFileID, materailCategoryId = materialFile.Material.MaterialCategoryID }, null)
}
@helper GridDetailTemplate(WebViewPage page, Klmsncamp.Models.Material o)
	{
		Html.Telerik().TabStrip()
		.Name("TabStrip_" + o.MaterialID)
		.SelectedIndex(0)
		.Items(items =>
		{
			items.Add().Text("Malzemeye Ait Dosyalar").Content(@<text>
	@(Html.Telerik().Grid(o.MaterialFiles)
			.Name("MaterialFiles_" + o.MaterialID)
			.Columns(columns =>
			{
				@columns.Template(e => DownloadDelete(e)).Width(80);
				columns.Bound(e => e.MaterialFileName).Title("Dosya Adı");
				columns.Bound(e => e.MaterialFileDescription).Title("Açıklama");
				columns.Bound(e => e.MaterialFileSize).Title("Boyut (byte)");
			})
			.Pageable()
			.Resizable(resizing => resizing.Columns(true))
		)
	</text>);
			items.Add().Text("Malzeme Detay Bilgileri").Content(@<text>
	<table>
		<tbody>
			<tr>
				<td>@*Markası : @o.CorporateAccount.Title</td><td>Lokasyon : @o.Location.Description</td><td>Grubu : @o.MaterialGroup.Description*@
				</td>
			</tr>
			<tr>
				<td colspan="3">
					Notlar : @o.Note
				</td>
			</tr>
		</tbody>
	</table>
	</text>);
		}).Render();
}
@{ Html.Telerik().ScriptRegistrar().Globalization(true); }


  <script type="text/javascript" src="../../Scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="../../Scripts/Pusher/pusher-2.0.js"></script>
    <script type="text/javascript" src="pusher-realtime-chat-widget/src/js/PusherChatWidget.js"></script>
    <link href="../../Content/Pusher/pusher-chat-widget.css" rel="stylesheet" />