@using Telerik.Web.Mvc.UI
@model Klmsncamp.Models.RequestIssue
@{
    ViewBag.Title = "Raporlama";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div align="center" style="width: 820px; margin-left: auto; margin-right: auto; margin-top: 30px;">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div style="width: 950px; margin-left: auto; margin-right: auto; margin-top: 30px;">
            <fieldset class="module aligned ">
                <br />
                <h2>
                    Raporlama Kriterleri Belirtiniz</h2>
                <table width="100%">
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <p class="help">
                                    İş isteklerinizi raporlamak için aşağıdaki kutucukları kullanabilirsiniz<br />
                                    İşaretli alanlar proje raporu için dikkate Alınmaz<br />
                                    İş İsteyen Kriteri , <u>Proje Raporu</u> için, Projeye Dahil olan Kişi Olarak anlamlandırılır
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center;">
                                <label>
                                    Ana Departman&nbsp;:&nbsp;</label>
                                @Html.DropDownList("LocationGroupID", String.Empty)<br />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">
                                <label>
                                    İş Sahibi&nbsp;:&nbsp;</label>
                                @Html.DropDownList("UserID", String.Empty)<br />
                            </td>
                            <td style="text-align: left;">
                                <label>
                                    Departman&nbsp;:&nbsp;</label>
                                @Html.DropDownList("LocationID", String.Empty)<br />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">
                                <label>
                                    İş Durumu&nbsp;:&nbsp;</label>
                                @Html.DropDownList("RequestStateID", String.Empty)<br />
                            </td>
                            <td style="text-align: left;">
                                <label>
                                    Onay Durumu&nbsp;<font color="maroon">*</font>&nbsp;:&nbsp;</label>
                                @Html.DropDownList("IsApproved", String.Empty)<br />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">
                                <label>
                                    İş İsteyen&nbsp;:&nbsp;</label>@Html.DropDownList("PersonnelID", String.Empty)
                            </td>
                            <td style="text-align: left;">
                                <label>
                                    İş Tipi&nbsp;<font color="maroon">*</font>&nbsp;:&nbsp;</label>@Html.DropDownList("RequestTypeID", String.Empty)
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right;" width="50%">
                                <label class="datetime">
                                    Baş. Tarihi&nbsp;:&nbsp;</label>
                                @Html.Telerik().DatePickerFor(model => model.StartDate).Name("StartDate")
                            </td>
                            <td style="text-align: left;" width="50%">
                                <label class="datetime">
                                    Bitiş Tarihi&nbsp;:&nbsp;</label>
                                @Html.Telerik().DatePickerFor(model => model.EndDate).Name("EndDate")
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; vertical-align: middle; padding-top: 5px;" width="50%">
                                <label>
                                    <font color="maroon">Proje Raporuna İlgili
                                        <br />
                                        İş Kayıtları Dahil Edilsin mi?</font></label>
                            </td>
                            <td style="text-align: left;" width="50%">
                                @Html.CheckBox("IncludeRiRecords", true, new { disabled = "disabled" })
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="submit-row">
                    <p class="deletelink-box" style="padding-top: 7px;">
                        @Html.ActionLink("Vazgeç ve Geri Dön", "Index")
                    </p>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                </td>
                                <td>
                                    <input type="submit" name="projects" value="Proje Raporu" />
                                </td>
                                <td>
                                    <input type="submit" name="matrix" value="İş Durumları Matris" />
                                </td>
                                <td>
                                    <input type="submit" name="workload" value="İş Yükü Raporu" />
                                </td>
                                <td>
                                    <input class="default" name="worklist" type="submit" value="İş Listesi" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
            <br />
            @if (!(string.IsNullOrEmpty(ViewBag.CustomErr)))
            {
                <fieldset class="module aligned ">
                    <br />
                    <div style="margin: 5px;">
                        <ul style="list-style: none">
                            <li>@ViewBag.CustomErr</li>
                        </ul>
                    </div>
                </fieldset>
                <br />
            }
            <fieldset class="module aligned ">
                <br />
                <h2>
                    Bilinmesi Gerekenler</h2>
                <div style="margin: 5px;">
                    <ul style="list-style: none">
                        <li>Dilediğiniz kriter(ler)i boş bırakabilirsiniz</li>
                        <li>Raporları görüntüleyebilmeniz için bilgisayarınızda <a href="http://get.adobe.com/reader/">
                            Adobe Reader</a> kurulu olması gerekmektedir. Kurmak için <a href="http://get.adobe.com/reader/">
                                tıkla</a></li>
                    </ul>
                </div>
            </fieldset>
        </div>
    }
</div>