@model Klmsncamp.Models.CorporateAccount

@{
    ViewBag.Title = "Cari Silme";
}

<div align="center" style="width: 650px; margin-left: auto; margin-right: auto; margin-top:30px; border: 1px solid #eee;">
    <table style="width: 100%;">
    <tbody>
    <thead>
    <th colspan="2">Aşağıdaki Cari kaydını silmek istediğinize emin misiniz?</th>
    </thead>
    <tr>   
     <td style="vertical-align:middle; text-align: right;">

    <div class="display-label">Ünvan :</div></td>
    <td style="vertical-align:middle; text-align: left;">
        @Html.DisplayFor(model => model.Title)
    </td>
    </tr>
    <tr>
    <td style="vertical-align:middle; text-align: right;">
    <div class="display-label">Adres :</div>
    </td>
    <td style="vertical-align:middle; text-align: left;">
        @Html.DisplayFor(model => model.Address)
    </td>
    </tr>
    <tr>
    <td style="vertical-align:middle; text-align: right;">
    <div class="display-label">Tel 1 :</div>
    </td>
    <td style="vertical-align:middle; text-align: left;">
        @Html.DisplayFor(model => model.Phone1)
    </td>
    </tr>
    <tr>
    <td style="vertical-align:middle; text-align: right;">
    <div class="display-label">Tel 2:</div>
    </td>
    <td>
        @Html.DisplayFor(model => model.Phone2)
    </td>
    </tr>
    <tr>
    <td style="vertical-align:middle; text-align: right;">
    <div class="display-label">İlgili Kişi :</div>
    </td>
    <td style="vertical-align:middle; text-align: left;">
        @Html.DisplayFor(model => model.ContactPerson)
    </td>
    </tr>
    <tr>
    <td style="vertical-align:middle; text-align: right;">
    <div class="display-label">Email :</div>
    </td>
    <td style="vertical-align:middle; text-align: left;">
       @Html.DisplayFor(model => model.CorpEmail)
    </td>
    </tr>
    <tr>
    <td style="vertical-align:middle; text-align: right;">
    <div class="display-label">Cari Tip :</div>
    </td>
    <td style="vertical-align:middle; text-align: left">
        @Html.DisplayFor(model => model.CorporateType.Description)
    </td>
    </tr>
    <tr>
    <td style="vertical-align:middle; text-align: right;">
    <div class="display-label">Bağlı Olduğu Kullanıcı :</div>
    </td>
    <td style="vertical-align:middle; text-align: left;">
        @Html.DisplayFor(model => model.User.UserName)
    </td>
    </tr>
    <tr>
    <td style="vertical-align:middle; text-align: right;">
    <div class="display-label">Durum :</div>
    </td>
    <td style="vertical-align:middle; text-align: left">
        @Html.DisplayFor(model => model.ValidationState.Description)
    </td>
    </tr>
    </tbody>
    </table>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Sil" /> |
        @Html.ActionLink("Vazgeç ve Geri Dön", "Index")
    </p>
}
</div>
