@using Telerik.Web.Mvc.UI
@model IEnumerable<Klmsncamp.ViewModels._requestView>
@{
    ViewBag.Title = "Arıza / İş Tipleri";
}
@section script {
    <script type="text/javascript">
        function AJAX() {
            var ajax = false;
            // Internet Explorer (5.0+)
            try {
                ajax = new ActiveXObject("Msxml2.XMLHTTP");  // yeni versiyon xmlhttp
            } catch (e) {
                try {
                    ajax = new ActiveXObject("Microsoft.XMLHTTP");  // eski versiyon xmlhttp
                } catch (e) {
                    ajax = false;
                }
            }
            // Mozilla ve Safari
            if (!ajax && typeof XMLHttpRequest != 'undefined') {
                try {
                    ajax = new XMLHttpRequest();
                } catch (e) {
                    ajax = false;
                }
            }
            // Diger
            if (!ajax && window.createRequest) {
                try {
                    ajax = window.createRequest();
                } catch (e) {
                    ajax = false;
                }
            }
            return ajax;
        }

        function onDataBinding2(e) {
            var treeview2 = $('#TreeView2').data('tTreeView');
            ajax = new AJAX();
            ajax.open("GET", "/HelpDesk/RequestType/GetJsonTree/?ms=" + new Date().getTime(), true)
            ajax.onreadystatechange = function () {
                if (ajax.readyState < 4) {
                    null;
                }

                if (ajax.readyState == 4 && ajax.status == 200) {

                    //alert(ajax.responseText);
                    jsonObject2 = jQuery.parseJSON(ajax.responseText);
                    treeview2.bindTo(jsonObject2.Items);

                }

            }

            ajax.send(null);

        }

    </script>
}
<br />
<div style="margin: auto 35% auto 35%; font-weight: bold; font-family: Calibri; font: medium;">
    <fieldset class="module aligned ">
        <legend>Ağaç Gösterimi</legend>
        @(Html.Telerik().TreeView()
        .Name("TreeView2")
        .ClientEvents(events => events
            .OnDataBinding("onDataBinding2")

        )

)
    </fieldset>
</div>
<div align="center" style="width: 640px; margin-left: auto; margin-right: auto; margin-top: 30px;">
    <fieldset class="module aligned ">
        <table style="width: 100%;">
            <tbody>
                <thead>
                    <th>
                        İş / İstek Tipleri
                    </th>
                    <th colspan="2">
                        Bağlı bulunduğu Üst Tip
                    </th>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Text)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParentText)&nbsp;(id:&nbsp;@Html.DisplayFor(modelItem => item.ParentValue)&nbsp;)
                        </td>
                        <td>
                            @Html.ActionLink("Düzenle", "Edit", new { id = item.Value }) |
                            @Html.ActionLink("Sil", "Delete", new { id = item.Value })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </fieldset>
    <div class="submit-row">
        <p class="deletelink-box">@Html.ActionLink("Yeni İş İstek Tipi", "Create")</p>
    </div>
</div>