@model Klmsncamp.Models.CorporateAccount

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CorporateAccount</legend>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">Address</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">Phone1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone1)
    </div>

    <div class="display-label">Phone2</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone2)
    </div>

    <div class="display-label">ContactPerson</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactPerson)
    </div>

    <div class="display-label">CorpEmail</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CorpEmail)
    </div>

    <div class="display-label">CorporateType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CorporateType.Description)
    </div>

    <div class="display-label">User</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.UserName)
    </div>

    <div class="display-label">ValidationState</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValidationState.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CorporateAccountID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
